[submodule "Libraries/Libraries/DFAbout"]
	path = Libraries/Libraries/DFAbout
	url = https://github.com/NilsSve/Library-DFAbout.git
	branch = main
[submodule "Libraries/DFAbout"]
	path = Libraries/DFAbout
	url = https://github.com/NilsSve/Library-DFAbout.git
	branch = main
[submodule "Libraries/DigitalCert"]
	path = Libraries/DigitalCert
	url = https://github.com/NilsSve/Library-DigitalCert.git
	branch = main
[submodule "Libraries/DUF"]
	path = Libraries/DUF
	url = https://github.com/NilsSve/DbUpdateFramework.git
	branch = main
[submodule "Libraries/RDCToolsLib"]
	path = Libraries/RDCToolsLib
	url = https://github.com/NilsSve/Library-RDCToolsLib.git
	branch = main
